/*
    Eric Meyer's CSS Reset <http://meyerweb.com/eric/tools/css/reset/>
*/
a, abbr, acronym, address, applet, article, aside, audio, b, big,
blockquote, body, canvas, caption, center, cite, code, dd, del,
details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure,
footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i,
iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object,
ol, output, p, pre, q, ruby, s, samp, section, small, span, strike,
strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time,
tr, tt, u, ul, var, video {
    border: 0;
    font-size: 100%;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup,
menu, nav, section {
    display: block;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:after, blockquote:before, q:after, q:before {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
    Main layout
*/
html, body {
    background: #eee8d5;
    color: #657b83;
    font: 1em/1.5em sans-serif;
}
.wrapper {
    margin: 0 auto;
    max-width: 27em;
    padding: 0 1.5em;
    position: relative;
}

/*
    Header
*/
#header {
    padding: 1.5em 0;
}
#masthead {
    font-size: 1.5em;
    line-height: 1em;
    text-transform: lowercase;
}
#masthead a {
    color: #93a1a1;
    text-decoration: none;
}
#masthead strong {
    color: #cb4b16;
}

/*
    Footer
*/
#footer {
    padding: 1.5em 0;
}
#colophon {
    color: #93a1a1;
    text-transform: lowercase;
}
#colophon li {
    display: inline;
}
#colophon li:before {
    content: '\b7';
    padding: 0 0.25em;
}
#colophon li:first-child:before {
    content: '';
    padding: 0;
}
#colophon a {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
}

/*
    Content
*/
#content {
    background: #fdf6e3;
    padding: 1.5em 0;
}

/*
    Posts
*/
.post {
}
.post + .post {
    margin-top: 3em;
}
.post .permalink {
    color: #93a1a1;
    text-decoration: none;
}
.post a {
    color: #268bd2;
    text-decoration: underline;
}
.post a:visited {
    color: #6c71c4;
}
.post blockquote {
    border-left: thin solid #93a1a1;
    margin: 1.5em 0;
    padding-left: 1.5em;
}
.post code {
    font-family: monospace;
}
.post h1 {
    color: #586e75;
    font-size: 1.5em;
    line-height: 1em;
    margin: 1em 0;
}
.post h2 {
    color: #586e75;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.3333em;
    margin: 1.3333em 0;
}
.post em {
    font-style: italic;
}
.post ol, .post ul {
    list-style-position: outside;
    margin: 1.5em 0 1.5em 1.5em;
}
.post ol {
    list-style-type: decimal;
}
.post p {
    margin: 1.5em 0;
}
.post pre {
    border-left: thin solid #93a1a1;
    margin: 1.5em 0;
    padding-left: 1.5em;
    white-space: pre-wrap;
}
.post strong {
    font-weight: bold;
}
.post ul {
    list-style-type: square;
}
