<meta content="initial-scale=1, width=device-width" name="viewport">
<meta content="{{ site.config.title }}" name="apple-mobile-web-app-title">
<link href="/static/images/apple-touch-icon-152x152.png" rel="apple-touch-icon-precomposed" sizes="152x152">
<link href="/static/images/apple-touch-icon-144x144.png" rel="apple-touch-icon-precomposed" sizes="144x144">
<link href="/static/images/apple-touch-icon-120x120.png" rel="apple-touch-icon-precomposed" sizes="120x120">
<link href="/static/images/apple-touch-icon-114x114.png" rel="apple-touch-icon-precomposed" sizes="114x114">
<link href="/static/images/apple-touch-icon-76x76.png" rel="apple-touch-icon-precomposed" sizes="76x76">
<link href="/static/images/apple-touch-icon-72x72.png" rel="apple-touch-icon-precomposed" sizes="72x72">
<link href="/static/images/apple-touch-icon-60x60.png" rel="apple-touch-icon-precomposed" sizes="60x60">
<link href="/static/images/apple-touch-icon-57x57.png" rel="apple-touch-icon-precomposed" sizes="57x57">
