<footer class="footer">
    <div class="wrapper">
        <ul class="internal">
            {% if page.previous or page.next %}
                <li class="prev">
                    {% if page.previous %}
                        <a href="{{ page.previous.url }}" rel="prev" title="{{ page.previous.title | escape }}">
                            &#x2190;
                        </a>
                    {% else %}
                        &#x2190;
                    {% endif %}
                </li>

                <li class="next">
                    {% if page.next %}
                        <a href="{{ page.next.url }}" rel="next" title="{{ page.next.title | escape }}">
                            &#x2192;
                        </a>
                    {% else %}
                        &#x2192;
                    {% endif %}
                </li>
            {% endif %}

            <li class="home">
                <a href="/" title="{{ site.data.config.title | escape }}">
                    {% include logo.html %}
                </a>
            </li>
        </ul>

        {% if page.title %}
            <ul class="external">
                <li>
                    <a href="//creativecommons.org/licenses/by/4.0/">
                        <img alt="Creative Commons" height="1" src="/static/images/creative-commons.svg" width="1">
                    </a>
                </li>

                <li>
                    <a href="//github.com/tfausak/tfausak.github.io/blob/master/{{ page.path }}">
                        <img alt="GitHub" height="1" src="/static/images/github.svg" width="1">
                    </a>
                </li>

                <li>
                    <a href="/sitemap.rss">
                        <img alt="RSS" height="1" src="/static/images/rss.svg" width="1">
                    </a>
                </li>
            </ul>
        {% endif %}
    </div>
</footer>
