<footer class="footer">
    <div class="wrapper">
        <ul>
            {% if page.previous %}
                <li class="prev">
                    <a href="{{ page.previous.url }}" rel="prev" title="{{ page.previous.title | escape }}">
                        &#x2190;
                    </a>
                </li>
            {% endif %}

            {% if page.next %}
                <li class="next">
                    <a href="{{ page.next.url }}" rel="next" title="{{ page.next.title | escape }}">
                        &#x2192;
                    </a>
                </li>
            {% endif %}

            <li class="home">
                <a href="/" title="{{ site.data.config.title | escape }}">
                    {% include logo.html %}
                </a>
            </li>
        </ul>
    </div>
</footer>
