<footer class="footer">
    <div class="wrapper">
        <ul class="internal">
            {% if page.previous || page.next %}
                <li class="prev">
                    {% if page.previous %}
                        <a href="{{ page.previous.url }}" rel="prev" title="{{ page.previous.title | escape }}">
                            &#x2190;
                        </a>
                    {% else %}
                        &#x2190;
                    {% endif %}
                </li>

                <li class="next">
                    {% if page.next %}
                        <a href="{{ page.next.url }}" rel="next" title="{{ page.next.title | escape }}">
                            &#x2192;
                        </a>
                    {% else %}
                        &#x2192;
                    {% endif %}
                </li>
            {% endif %}

            <li class="home">
                <a href="/" title="{{ site.data.config.title | escape }}">
                    {% include logo.html %}
                </a>
            </li>
        </ul>

        <p>
            Licensed under a <a href="http://creativecommons.org/licenses/by/4.0/" rel="license">Creative Commons Attribution 4.0 International License</a>.
        </p>
    </div>
</footer>
