<meta
    property="og:description"
    content="{{ content | split: '<!---->' | last | strip_html | replace: '"', '&#x22;' | strip_newlines | split: ' ' | join: ' ' | truncate: 200 }}">
<meta
    property="og:image"
    content="{{ site.data.config.url }}/static/images/og-image.png">
<meta
    property="og:locale"
    content="en_US">
<meta
    property="og:site_name"
    content="{{ site.data.config.title | escape }}">
<meta
    property="og:title"
    content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.data.config.title | escape }}{% endif %}">
<meta
    property="og:type"
    content="{% if page.title %}article{% else %}website{% endif %}">
<meta
    property="og:url"
    content="{{ site.data.config.url }}{% if page.title %}{{ page.url }}{% endif %}">
