<meta
    name="application-name"
    content="{{ site.config.title }}">
<meta
    name="msapplication-TileColor"
    content="#ac4142">
<meta
    name="msapplication-TileImage"
    context="/static/images/msapplication-TileImage.png">
<meta
    name="msapplication-square70x70logo"
    content="/static/images/msapplication-square70x70logo.png">
<meta
    name="msapplication-square150x150logo"
    content="/static/images/msapplication-square150x150logo.png">
<meta
    name="msapplication-wide310x150logo"
    content="/static/images/msapplication-wide310x150logo.png">
<meta
    name="msapplication-square310x310logo"
    content="/static/images/msapplication-square310x310logo.png">
<meta
    name="msapplication-notification"
    content="frequency=30;polling-uri=http://notifications.buildmypinnedsite.com/?feed=http://taylor.fausak.me/sitemap.atom&amp;id=1;polling-uri2=http://notifications.buildmypinnedsite.com/?feed=http://taylor.fausak.me/sitemap.atom&amp;id=2;polling-uri3=http://notifications.buildmypinnedsite.com/?feed=http://taylor.fausak.me/sitemap.atom&amp;id=3;polling-uri4=http://notifications.buildmypinnedsite.com/?feed=http://taylor.fausak.me/sitemap.atom&amp;id=4;polling-uri5=http://notifications.buildmypinnedsite.com/?feed=http://taylor.fausak.me/sitemap.atom&amp;id=5; cycle=1">
