<meta
    name="application-name"
    content="{{ site.data.config.title }}">
<meta
    name="msapplication-TileColor"
    content="#ac4142">
<meta
    name="msapplication-TileImage"
    content="/static/images/msapplication-TileImage.png">
<meta
    name="msapplication-square70x70logo"
    content="/static/images/msapplication-square70x70logo.png">
<meta
    name="msapplication-square150x150logo"
    content="/static/images/msapplication-square150x150logo.png">
<meta
    name="msapplication-wide310x150logo"
    content="/static/images/msapplication-wide310x150logo.png">
<meta
    name="msapplication-square310x310logo"
    content="/static/images/msapplication-square310x310logo.png">
<meta
    name="msapplication-notification"
    content="frequency=60;polling-uri=http://notifications.buildmypinnedsite.com/?feed=http://taylor.fausak.me/sitemap.atom;cycle=0">
