/*
    Eric Meyer's CSS Reset <http://meyerweb.com/eric/tools/css/reset/>
*/
a, abbr, acronym, address, applet, article, aside, audio, b, big,
blockquote, body, canvas, caption, center, cite, code, dd, del,
details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure,
footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i,
iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object,
ol, output, p, pre, q, ruby, s, samp, section, small, span, strike,
strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time,
tr, tt, u, ul, var, video {
    border: 0;
    font-size: 100%;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup,
menu, nav, section {
    display: block;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:after, blockquote:before, q:after, q:before {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*
    Main layout
*/
html, body {
    background: #fdf6e3;
    color: #657b83;
    font: 1em/1.5em 'Helvetica Neue', 'Segoe UI', 'Helvetica', 'Segoe WP', sans-serif;
}
.header, .content {
    overflow: auto;
    padding: 0 0.75em;
}
.wrapper {
    margin: 0 auto;
    max-width: 40em;
    position: relative;
}

/*
    Default styles
*/
a {
    color: #268bd2;
}
a:visited {
    color: #6c71c4;
}
blockquote {
    border-left: thin solid #93a1a1;
    margin: 1.5em 0;
    padding-left: 1.5em;
}
code {
    font-family: 'Menlo', 'Consolas', 'Courier', 'Courier New', monospace;
}
h1 {
    font-size: 1.5em;
    line-height: 1em;
    margin: 1em 0;
}
h2 {
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.3333em;
    margin: 1.3333em 0;
}
img {
    background: #eee8d5;
    border: thin solid #93a1a1;
    display: block;
    margin: 1.5em auto;
    max-width: 100%;
}
em {
    font-style: italic;
}
ol, ul {
    list-style-position: outside;
    margin: 1.5em 0 1.5em 1.5em;
}
ol {
    list-style-type: decimal;
}
p {
    margin: 1.5em 0;
}
pre {
    border-left: thin solid #93a1a1;
    margin: 1.5em 0;
    padding-left: 1.5em;
    white-space: pre-wrap;
}
strong {
    font-weight: bold;
}
ul {
    list-style-type: square;
}

/*
    Logo
*/
.logo {
    display: block;
    height: 3em;
    padding: 0.75em;
    width: 3em;
}
.logo span {
    border-style: solid;
    border-width: 0 0 1em 1em;
    display: block;
    float: left;
    height: 0;
    width: 0;
}
.logo .tl, .logo .cl, .logo .bl, .logo .br {
    border-left-color: transparent;
}
.logo .tr, .logo .cl, .logo .cr, .logo .bl, .logo .bc, .logo .br {
    border-bottom-color: transparent;
}

/*
    Header
*/
.header {
    border-top: 0.25em solid;
    color: #dc322f;
    -moz-animation: solarized 14s infinite;
    -ms-animation: solarized 14s infinite;
    -webkit-animation: solarized 14s infinite;
}
.header h1 {
    display: none;
}
.header a {
    color: inherit;
    display: block;
}
.header .logo {
    margin: 0 auto;
}

/*
    Header logo keyframes
*/
@-moz-keyframes solarized {
    0%, 100% { color: #dc322f; }
    12.5%    { color: #cb4b16; }
    25%      { color: #b58900; }
    37.5%    { color: #859900; }
    50%      { color: #2aa198; }
    62.5%    { color: #268bd2; }
    75%      { color: #6c71c4; }
    87.5%    { color: #d33682; }
}
@-ms-keyframes solarized {
    0%, 100% { color: #dc322f; }
    12.5%    { color: #cb4b16; }
    25%      { color: #b58900; }
    37.5%    { color: #859900; }
    50%      { color: #2aa198; }
    62.5%    { color: #268bd2; }
    75%      { color: #6c71c4; }
    87.5%    { color: #d33682; }
}
@-webkit-keyframes solarized {
    0%, 100% { color: #dc322f; }
    12.5%    { color: #cb4b16; }
    25%      { color: #b58900; }
    37.5%    { color: #859900; }
    50%      { color: #2aa198; }
    62.5%    { color: #268bd2; }
    75%      { color: #6c71c4; }
    87.5%    { color: #d33682; }
}

/*
    Content
*/
.content {
    margin-bottom: 3em;
}
.posts {
    margin-left: 0;
    list-style: none;
}
.posts .month {
}
.posts .year {
    color: #93a1a1;
}
.posts .post {
    color: #93a1a1;
    list-style: decimal;
    margin-left: 3em;
}
.posts a {
    text-decoration: none;
}
.pubdate {
    color: #93a1a1;
    display: block;
    margin-top: -1.5em;
}
.highlight { }
.highlight .c { color: #586E75 } /* Comment */
.highlight .err { color: #93A1A1 } /* Error */
.highlight .g { color: #93A1A1 } /* Generic */
.highlight .k { color: #859900 } /* Keyword */
.highlight .l { color: #93A1A1 } /* Literal */
.highlight .n { color: #93A1A1 } /* Name */
.highlight .o { color: #859900 } /* Operator */
.highlight .x { color: #CB4B16 } /* Other */
.highlight .p { color: #93A1A1 } /* Punctuation */
.highlight .cm { color: #586E75 } /* Comment.Multiline */
.highlight .cp { color: #859900 } /* Comment.Preproc */
.highlight .c1 { color: #586E75 } /* Comment.Single */
.highlight .cs { color: #859900 } /* Comment.Special */
.highlight .gd { color: #2AA198 } /* Generic.Deleted */
.highlight .ge { color: #93A1A1; font-style: italic } /* Generic.Emph */
.highlight .gr { color: #DC322F } /* Generic.Error */
.highlight .gh { color: #CB4B16 } /* Generic.Heading */
.highlight .gi { color: #859900 } /* Generic.Inserted */
.highlight .go { color: #93A1A1 } /* Generic.Output */
.highlight .gp { color: #93A1A1 } /* Generic.Prompt */
.highlight .gs { color: #93A1A1; font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #CB4B16 } /* Generic.Subheading */
.highlight .gt { color: #93A1A1 } /* Generic.Traceback */
.highlight .kc { color: #CB4B16 } /* Keyword.Constant */
.highlight .kd { color: #268BD2 } /* Keyword.Declaration */
.highlight .kn { color: #859900 } /* Keyword.Namespace */
.highlight .kp { color: #859900 } /* Keyword.Pseudo */
.highlight .kr { color: #268BD2 } /* Keyword.Reserved */
.highlight .kt { color: #DC322F } /* Keyword.Type */
.highlight .ld { color: #93A1A1 } /* Literal.Date */
.highlight .m { color: #2AA198 } /* Literal.Number */
.highlight .s { color: #2AA198 } /* Literal.String */
.highlight .na { color: #93A1A1 } /* Name.Attribute */
.highlight .nb { color: #B58900 } /* Name.Builtin */
.highlight .nc { color: #268BD2 } /* Name.Class */
.highlight .no { color: #CB4B16 } /* Name.Constant */
.highlight .nd { color: #268BD2 } /* Name.Decorator */
.highlight .ni { color: #CB4B16 } /* Name.Entity */
.highlight .ne { color: #CB4B16 } /* Name.Exception */
.highlight .nf { color: #268BD2 } /* Name.Function */
.highlight .nl { color: #93A1A1 } /* Name.Label */
.highlight .nn { color: #93A1A1 } /* Name.Namespace */
.highlight .nx { color: #93A1A1 } /* Name.Other */
.highlight .py { color: #93A1A1 } /* Name.Property */
.highlight .nt { color: #268BD2 } /* Name.Tag */
.highlight .nv { color: #268BD2 } /* Name.Variable */
.highlight .ow { color: #859900 } /* Operator.Word */
.highlight .w { color: #93A1A1 } /* Text.Whitespace */
.highlight .mf { color: #2AA198 } /* Literal.Number.Float */
.highlight .mh { color: #2AA198 } /* Literal.Number.Hex */
.highlight .mi { color: #2AA198 } /* Literal.Number.Integer */
.highlight .mo { color: #2AA198 } /* Literal.Number.Oct */
.highlight .sb { color: #586E75 } /* Literal.String.Backtick */
.highlight .sc { color: #2AA198 } /* Literal.String.Char */
.highlight .sd { color: #93A1A1 } /* Literal.String.Doc */
.highlight .s2 { color: #2AA198 } /* Literal.String.Double */
.highlight .se { color: #CB4B16 } /* Literal.String.Escape */
.highlight .sh { color: #93A1A1 } /* Literal.String.Heredoc */
.highlight .si { color: #2AA198 } /* Literal.String.Interpol */
.highlight .sx { color: #2AA198 } /* Literal.String.Other */
.highlight .sr { color: #DC322F } /* Literal.String.Regex */
.highlight .s1 { color: #2AA198 } /* Literal.String.Single */
.highlight .ss { color: #2AA198 } /* Literal.String.Symbol */
.highlight .bp { color: #268BD2 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #268BD2 } /* Name.Variable.Class */
.highlight .vg { color: #268BD2 } /* Name.Variable.Global */
.highlight .vi { color: #268BD2 } /* Name.Variable.Instance */
.highlight .il { color: #2AA198 } /* Literal.Number.Integer.Long */
