/*
    Baseline styles
*/
a {
    color: #3465a4;
}
a:visited {
    color: #75507b;
}
blockquote {
    border-left: thin solid #d3d7cf;
    margin: 1.5em 0;
    padding-left: 1.5em;
}
code {
    font-family: monospace;
}
h1 {
    font-size: 1.5em;
    line-height: 1em;
    margin: 1em 0;
}
h2 {
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.3333em;
    margin: 1.3333em 0;
}
img {
    background: #eeeeec;
    border: thin solid #d3d7cf;
    display: block;
    margin: 1.5em auto;
    max-width: 100%;
}
em {
    font-style: italic;
}
ol, ul {
    list-style-position: outside;
    margin: 1.5em 0 1.5em 1.5em;
}
ol {
    list-style-type: decimal;
}
p {
    margin: 1.5em 0;
}
pre {
    border-left: thin solid #d3d7cf;
    margin: 1.5em 0;
    padding-left: 1.5em;
    white-space: pre-wrap;
}
strong {
    font-weight: bold;
}
ul {
    list-style-type: square;
}

/*
    Main layout
*/
html, body {
    background: #eeeeec;
    color: #2e3436;
    font: 1em/1.5em sans-serif;
}
.wrapper {
    margin: 0 auto;
    max-width: 40em;
    padding: 0 1.5em;
    position: relative;
}

/*
    Header
*/
#header {
    border-bottom: thin solid #d3d7cf;
    padding: 1.5em 0;
}
#masthead {
    color: #babdb6;
    margin: 0;
    text-indent: 2em;
}
#masthead a {
    color: inherit;
    display: block;
    text-decoration: none;
}
#masthead strong {
    color: #ce5c00;
}
#logo {
    display: block;
    font-size: 0.6667em;
    height: 3em;
    left: 0.5em;
    margin-top: -1.5em;
    position: absolute;
    top: 50%;
    width: 3em;
}
#logo span {
    border-color: transparent;
    border-style: solid;
    border-width: 0 0 1em 1em;
    display: block;
    float: left;
    height: 0;
    width: 0;
}
#logo #tl {
    border-bottom-color: #ce5c00;
}
#logo #tc {
    border-bottom-color: #d3d7cf;
    border-left-color: #d3d7cf;
}
#logo #tr {
    border-left-color: #ce5c00;
}
#logo #cl {
}
#logo #cc {
    border-bottom-color: #d3d7cf;
    border-left-color: #d3d7cf;
}
#logo #cr {
    border-left-color: #ce5c00;
}
#logo #bl {
}
#logo #bc {
    border-left-color: #d3d7cf;
}
#logo #br {
}

/*
    Footer
*/
#footer {
    border-top: thin solid #d3d7cf;
    color: #babdb6;
    padding: 1.5em 0;
}
#footer p {
    margin: 0;
}
#footer a {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
}

/*
    Content
*/
#content {
    background: #ffffff;
    padding: 1.5em 0;
}
#content .wrapper {
    margin: -1.5em auto;
}

/*
    Posts
*/
.posts {
    list-style: none;
    margin: 0;
}
.post-title a {
    text-decoration: none;
}
.post-title time {
    color: #babdb6;
}

.posts.related {
    border-top: thin solid #d3d7cf;
}
.post.home {
    float: left;
}
.post.about {
    float: right;
}
#post-related-1 {
    border-top: thin solid #d3d7cf;
    clear: both;
}
