/*
    Main layout
*/
html, body {
    background: #eeeeec;
    color: #2e3436;
    font: 1em/1.5em 'Lucida Grande', sans-serif;
    padding-bottom: 3em;
}
.wrapper {
    margin: 0 auto;
    max-width: 40em;
    padding: 0 1.5em;
    position: relative;
}

/*
    Default styles
*/
a {
    cursor: pointer;
    color: #3465a4;
    text-decoration: underline;
}
a:visited {
    color: #75507b;
}
blockquote {
    border-left: thin solid #d3d7cf;
    margin: 1.5em 0;
    padding-left: 1.5em;
}
code {
    font-family: 'Menlo', monospace;
}
h1 {
    font-size: 1.5em;
    line-height: 1em;
    margin: 1em 0;
}
h2 {
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.3333em;
    margin: 1.3333em 0;
}
img {
    background: #555753;
    border: thin solid #2e3436;
    display: block;
    margin: 1.5em auto;
    max-width: 100%;
}
em {
    font-style: italic;
}
ol, ul {
    list-style-position: outside;
    margin: 1.5em 0 1.5em 1.5em;
}
ol {
    list-style-type: decimal;
}
p {
    margin: 1.5em 0;
}
pre {
    border-left: thin solid #d3d7cf;
    margin: 1.5em 0;
    padding-left: 1.5em;
    white-space: pre-wrap;
}
strong {
    font-weight: bold;
}
ul {
    list-style-type: square;
}

/*
    Header
*/
#header {
}
#header img {
    border: none;
    height: 6em;
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    width: 6em;
}
#header h1 {
    font-size: 2em;
    line-height: 3em;
    margin: 0;
    position: relative;
    text-indent: 3.25em;
}
#header a {
    color: #babdb6;
    display: block;
    margin: 0 -0.75em;
    overflow-x: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#header strong {
    color: #2e3436;
    font-weight: normal;
}

/*
    Content
*/
#content {
}

/*
    Archived posts
*/
.posts {
    margin-left: 0;
    list-style: none;
}
.posts .month {
}
.posts .year {
    color: #babdb6;
}
.posts .post {
    color: #babdb6;
    list-style: decimal;
    margin-left: 3em;
}
.posts a {
    text-decoration: none;
}

/*
    Post
*/
.post h1 {
    font-weight: bold;
}
