/*
    Eric Meyer's CSS Reset <http://meyerweb.com/eric/tools/css/reset/>
*/
a, abbr, acronym, address, applet, article, aside, audio, b, big,
blockquote, body, canvas, caption, center, cite, code, dd, del,
details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure,
footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i,
iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object,
ol, output, p, pre, q, ruby, s, samp, section, small, span, strike,
strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time,
tr, tt, u, ul, var, video {
    border: 0;
    font-size: 100%;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup,
menu, nav, section {
    display: block;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:after, blockquote:before, q:after, q:before {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
    Baseline styles
*/
a {
    color: #3465a4;
}
a:visited {
    color: #75507b;
}
blockquote {
    border-left: thin solid #d3d7cf;
    margin: 1.5em 0;
    padding-left: 1.5em;
}
code {
    font-family: monospace;
}
h1 {
    font-size: 1.5em;
    line-height: 1em;
    margin: 1em 0;
}
h2 {
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.3333em;
    margin: 1.3333em 0;
}
img {
    display: block;
    margin: 1.5em 0;
    max-width: 100%;
}
em {
    font-style: italic;
}
ol, ul {
    list-style-position: outside;
    margin: 1.5em 0 1.5em 1.5em;
}
ol {
    list-style-type: decimal;
}
p {
    margin: 1.5em 0;
}
pre {
    border-left: thin solid #d3d7cf;
    margin: 1.5em 0;
    padding-left: 1.5em;
    white-space: pre-wrap;
}
strong {
    font-weight: bold;
}
ul {
    list-style-type: square;
}

/*
    Main layout
*/
html, body {
    background: #eeeeec;
    color: #2e3436;
    font: 1em/1.5em sans-serif;
}
.wrapper {
    margin: 0 auto;
    max-width: 27em;
    padding: 0 1.5em;
    position: relative;
}

/*
    Header
*/
#header {
    border-bottom: thin solid #d3d7cf;
    padding: 1.5em 0;
}
#masthead {
    margin: 0;
    text-transform: lowercase;
}
#masthead a {
    color: #babdb6;
    text-decoration: none;
}
#masthead strong {
    color: #ce5c00;
}
#logo {
    display: inline-block;
    font-size: 0.6667em;
    height: 3em;
    width: 3em;
}
#logo span {
    border-color: transparent;
    border-style: solid;
    border-width: 0 0 1em 1em;
    display: block;
    float: left;
    height: 0;
    width: 0;
}
#logo-tl {
    border-bottom-color: #ce5c00;
}
#logo-tc, #logo-cc {
    border-bottom-color: #ce5c00;
    border-left-color: #ce5c00;
}
#logo-tr, #logo-cr, #logo-bc {
    border-left-color: #ce5c00;
}

/*
    Footer
*/
#footer {
    border-top: thin solid #d3d7cf;
    color: #babdb6;
    padding: 1.5em 0;
}
#footer p {
    margin: 0;
}
#footer a {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
}

/*
    Content
*/
#content {
    background: #ffffff;
    padding: 1.5em 0;
}

/*
    Posts
*/
.posts {
    list-style: none;
    margin: 0;
}
.post-title a {
    text-decoration: none;
}
.post-title strong {
    color: #000000;
}
.post-title time {
    color: #babdb6;
}
