<!doctype html>

<html lang="en-us" prefix="og: http://ogp.me/ns#">
    <head>
        <meta charset="utf-8">
        <meta content="initial-scale=1, width=device-width" name="viewport">

        {% comment %} Windows 8 Tile {% endcomment %}
        <meta content="#dc322f" name="msapplication-TileColor">
        <meta content="/static/images/msapplication-TileImage.png" name="msapplication-TileImage">

        {% comment %} Facebook {% endcomment %}
        <meta content="{{ site.config.author.facebook_id }}" property="fb:admins">

        {% comment %} Open Graph {% endcomment %}
        <meta content="{{ content | strip_html | strip_newlines | split: ' ' | join: ' ' | truncate: 200 }}" property="og:description">
        <meta content="{{ site.config.url }}/static/images/og-image.png" property="og:image">
        <meta content="en_US" property="og:locale">
        <meta content="{{ site.config.title }}" property="og:site_name">
        <meta content="{% if page.title %}{{ page.title }}{% else %}{{ site.config.title }}{% endif %}" property="og:title">
        <meta content="{% if page.title %}article{% else %}website{% endif %}" property="og:type">
        <meta content="{{ site.config.url }}{{ page.url }}" property="og:url">

        {% comment %} Twitter {% endcomment %}
        <meta content="summary" property="twitter:card">
        <meta content="{{ site.config.author.twitter_id }}" property="twitter:creator:id">
        <meta content="{{ site.config.author.twitter_id }}" property="twitter:site:id">

        {% comment %} Title {% endcomment %}
        <meta content="{{ site.config.title }}" name="apple-mobile-web-app-title">
        <meta content="{{ site.config.title }}" name="application-name">
        <title>{% if page.title %}{{ page.title }} &#xb7; {% endif %}{{ site.config.title }}</title>

        <link href="/static/styles/all.min.css" rel="stylesheet">
        <link href="{{ site.config.url }}{{ page.url }}" rel="canonical">

        {% comment %} Icons {% endcomment %}
        <link href="/static/images/favicon.ico" rel="shortcut icon">
        <link href="/static/images/apple-touch-icon-57x57.png" rel="apple-touch-icon-precomposed" sizes="57x57">
        <link href="/static/images/apple-touch-icon-72x72.png" rel="apple-touch-icon-precomposed" sizes="72x72">
        <link href="/static/images/apple-touch-icon-114x114.png" rel="apple-touch-icon-precomposed" sizes="114x114">
        <link href="/static/images/apple-touch-icon-144x144.png" rel="apple-touch-icon-precomposed" sizes="144x144">

        {% comment %} Feeds {% endcomment %}
        <link href="/sitemap.atom" rel="alternate" title="{{ site.config.title }} (Atom)" type="application/atom+xml">
        <link href="/sitemap.rss" rel="alternate" title="{{ site.config.title }} (RSS)" type="application/rss+xml">
    </head>

    <body itemscope itemtype="http://schema.org/Blog">
        <div id="fb-root"></div>

        <header class="header">
            <div class="wrapper">
                <h1 itemprop="name">
                    {{ site.config.title }}
                </h1>

                <a href="/" itemprop="url">
                    <span class="logo">
                        <span class="tl"></span>
                        <span class="tc"></span>
                        <span class="tr"></span>
                        <span class="cl"></span>
                        <span class="cc"></span>
                        <span class="cr"></span>
                        <span class="bl"></span>
                        <span class="bc"></span>
                        <span class="br"></span>
                    </span>
                </a>
            </div>
        </header>

        <div class="content">
            <div class="wrapper">
                {{ content }}
            </div>
        </div>

        <script async src="/static/scripts/all.min.js"></script>
    </body>
</html>
