<!doctype html>

<html lang="en-us" prefix="og: http://ogp.me/ns#">
    <head>
        <meta charset="utf-8">

        <title>{% if page.title %}{{ page.title | escape }} &#xb7; {% endif %}{{ site.data.config.title | escape }}</title>

        <link href="/static/styles/all.min.css" rel="stylesheet">
        <link href="/static/images/favicon.ico" rel="shortcut icon">

        <link href="/sitemap.atom" rel="alternate" title="{{ site.data.config.title | escape }} (Atom)" type="application/atom+xml">
        <link href="/sitemap.rss" rel="alternate" title="{{ site.data.config.title | escape }} (RSS)" type="application/rss+xml">

        <link href="{{ site.data.config.url }}{% if page.title %}{{ page.url }}{% endif %}" rel="canonical">

        {% include apple.html %}
        {% include facebook.html %}
        {% include opengraph.html %}
        {% include pagination.html %}
        {% include twitter.html %}
        {% include windows.html %}
    </head>

    <body itemscope itemtype="http://schema.org/Blog">
        {% include header.html %}

        <div class="content">
            <div class="wrapper">
                {{ content }}
            </div>
        </div>

        {% include footer.html %}

        <script async src="/static/scripts/all.min.js"></script>

        <noscript>
            <img alt="" src="http://piwik.fausak.me/piwik.php?idsite=1">
        </noscript>
    </body>
</html>
