<!doctype html>

<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <meta content="maximum-scale = 1, minimum-scale = 1, width = device-width" name="viewport">

        <link href="/favicon.ico" rel="shortcut icon">
        <link href="/static/styles/main.css" rel="stylesheet">

        <title>{% if page.title %}{{ page.title }} &#xb7; {% endif %}Taylor Fausak</title>
    </head>

    <body>
        <header id="header">
            <div class="wrapper">
                <h1 id="masthead">
                    <a href="/"><strong>tfausak</strong>.github.com</a>
                </h1>
            </div>
        </header>

        <div id="content">
            <div class="wrapper">
                {{ content }}
            </div>
        </div>

        <footer id="footer">
            <div class="wrapper">
                <ul id="colophon">
                    <li>
                        <a href="http://creativecommons.org/licenses/by/3.0/">CC BY</a>
                    </li>
                    <li>
                        <a href="http://validator.w3.org/check?uri=referer">HTML</a>
                    </li>
                    <li>
                        <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a>
                    </li>
                </ul>
            </div>
        </footer>
    </body>
</html>
