---
layout: base
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <h1 class="post-title">
        <a href="{{ post.url }}" itemprop="url">
            <strong itemprop="name">{{ page.title }}</strong>
            <time datetime="{{ page.date | date: "%Y-%m-%d" }}" itemprop="datePublished" pubdate>{{ page.date | date: "%b %d" }}</time>
        </a>
    </h1>

    <div itemprop="articleBody">
        {{ content }}
    </div>
</article>

<ul class="posts related">
    <li class="post home" style="float: right;">
        <h1 class="post-title">
            <a href="/">
                <strong>&#x2190; Home</strong>
            </a>
        </h1>
    </li>

    <li class="post about" style="float: left;">
        <h1 class="post-title">
            <a href="/about/">
                <strong>About</strong>
            </a>
        </h1>
    </li>

    {% for post in site.related_posts limit:3 %}
        <li class="post" id="post-related-{{ forloop.index }}" itemscope itemtype="http://schema.org/BlogPosting">
            <h1 class="post-title">
                <a href="{{ post.url }}" itemprop="url">
                    <strong itemprop="name">{{ post.title }}</strong>
                    <time datetime="{{ post.date | date: "%Y-%m-%d" }}" itemprop="datePublished" pubdate>{{ post.date | date: "%b %d" }}</time>
                </a>
            </h1>
        </li>
    {% endfor %}
</ul>
