---
layout: base
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <meta content="{{ post.date | date:'%Y-%m-%d' }}" itemprop="datePublished">
    <h1 itemprop="name">{{ page.title }}</h1>

    <div itemprop="articleBody">
        {{ content }}
    </div>
</article>

{% include about.html %}

<ul class="related-posts">
    {% for post in site.related_posts limit:5 %}
        <li class="post" id="post-related-{{ forloop.index }}" itemscope itemtype="http://schema.org/BlogPosting">
            <a href="{{ post.url }}" itemprop="url">
                <meta content="{{ post.date | date:'%Y-%m-%d' }}" itemprop="datePublished">
                <span itemprop="name">{{ post.title }}</span>
            </a>
        </li>
    {% endfor %}
</ul>
