---
layout: base
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <h1 itemprop="name">{{ page.title }}</h1>

    <p class="meta">
        by <a href="https://plus.google.com/111507914518262812295/?rel=author" rel="author">Taylor Fausak</a>
        on <time datetime="{{ page.date | date:'%Y-%m-%d' }}" itemprop="datePublished">{{ page.date | date:'%B %d, %Y' }}</time>
    </p>

    <div itemprop="articleBody">
        {{ content }}
    </div>
</article>

<footer class="footer">
    <ul class="social-widgets">
        {% capture label %}{{ page.date | date:'%Y-%m-%d' }} {{ page.title }}{% endcapture %}
        {% capture url %}{{ site.config.url }}{{ page.url }}{% endcapture %}

        <li class="social-widget facebook-widget">
            <a data-label="{{ label }}" href="https://www.facebook.com/sharer/sharer.php?u={{ url | cgi_escape }}" id="facebook-widget">
                Like
            </a>
            <div class="fb-like" data-href="{{ url }}" data-layout="box_count" data-send="false"></div>
        </li>
        <li class="social-widget google-widget">
            <a data-label="{{ label }}" href="https://plus.google.com/share?url={{ url | cgi_escape }}" id="google-widget">
                +1
            </a>
            <div class="g-plusone" data-href="{{ url }}" data-size="tall"></div>
        </li>
        <li class="social-widget twitter-widget">
            <a data-label="{{ label }}" href="https://twitter.com/intent/tweet?related=taylorfausak&amp;text={{ page.title | cgi_escape }}&amp;url={{ url | cgi_escape }}" id="twitter-widget">
                Tweet
            </a>
            <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-related="taylorfausak" data-url="{{ url }}"></a>
        </li>
    </ul>

    <h2>Related Posts</h2>

    <ul class="posts related">
        {% for post in site.related_posts limit:3 %}
            <li class="post">
                <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
        {% endfor %}
    </ul>

    <ul class="posts relative">
        <li class="post prev">
            {% if page.previous %}
                &#x2190;&#xa0;<a href="{{ page.previous.url }}" rel="prev">{{ page.previous.title }}</a>
            {% endif %}
        </li>

        <li class="post home">
            <a href="/">Home</a>
        </li>

        <li class="post next">
            {% if page.next %}
                <a href="{{ page.next.url }}" rel="next">{{ page.next.title }}</a>&#xa0;&#x2192;
            {% endif %}
        </li>
    </ul>
</footer>
